<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="./iconfont.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <header>
            <span class="iconfont icon-cuo"></span>
            <span>标题</span>
            <span class="iconfont icon-gengduo"></span>
        </header>
        <main>
            <div class="container">
                <img class="banner" src="banner.png" alt="">

                <div class="ipt">
                    <h5>注册即领取在线1对1外教体验课</h5>
                    <input type="text" placeholder="请输入您的手机号码" class="txt">
                    <div class="sp"><input type="radio" class="radio">
                        <span>我已阅读并同意<span class="oranged">VIPKID用户注册协议</span>和<span
                                class="oranged">用户隐私协议</span></span>
                    </div>
                    <button>立即免费领取</button>
                </div>

                <div class="container-main">
                    <h4>体验课流程</h4>
                    <div class="list">
                        <img src="20.jpg" alt="">
                        <div class="right">
                            <b class="oranged">课前强参与</b>
                            <h6>预习视频</h6>
                            <p>VIPKID外教老师亲自录制，真人和动画结合在课前学习重点知识</p>
                        </div>
                    </div>

                    <div class="list">
                        <div class="left">
                            <b class="oranged">课前强参与</b>
                            <h6>预习视频</h6>
                            <p>VIPKID外教老师亲自录制，真人和动画结合在课前学习重点知识</p>
                        </div>
                        <img src="20.jpg" alt="">
                    </div>

                    <div class="list">
                        <img src="20.jpg" alt="">
                        <div class="right">
                            <b class="oranged">课前强参与</b>
                            <h6>预习视频</h6>
                            <p>VIPKID外教老师亲自录制，真人和动画结合在课前学习重点知识</p>
                        </div>
                    </div>
                </div>


                <img src="5.jpg" class="footer" alt="">
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>